@import '../../../../scss/variables.scss';
.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 4rem 2rem;
  transition: translateX .3s ease-in;

  @media (min-width: 500px){
      display: none;
  }

  &.open {
    transform: translateX(0)
  }
  &.close {
    transform: translateX(-100%)
  }
  .icon-cancel {
    color: $green;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .Logo {
    height: 100px;
    margin-bottom: 3rem;
  }
}